@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@using SportWearManage.Models
@{
    List<Category> categories = ViewBag.Categories;
    List<Account> accounts = ViewBag.Accounts;
}
@model List<Product>
<style>
    .styled-table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        font-family: sans-serif;
        min-width: 400px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }

        .styled-table thead tr {
            text-align: left;
        }

        .styled-table th,
        .styled-table td {
            padding: 12px 15px;
        }

        .styled-table body tr {
            border-bottom: 1px solid #dddddd;
        }

            .styled-table body tr:nth-of-type(even) {
                background-color: #f3f3f3;
            }

            .styled-table body tr.active-row {
                font-weight: bold;
                color: #009879;
            }

    .main {
        display: flex;
    }

    .active {
        font-weight: 1000;
        font-size: 20px;
    }


    .hide {
        display: none;
    }

    .modal__inner {
        width: 450px;
        background-color: #fff;
        border-radius: 5px;
        overflow: hidden;
        animation: showModal linear 0.2s;
        position: relative;
        margin: 200px auto;
    }

    .modal__header {
        background-color: var(--pink-color);
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px;
        font-size: 17px;
    }

    .modal__body {
        padding: 15px;
    }

        .modal__body h2 {
            color: var(--pink-color);
            margin-bottom: 10px;
        }

    .modal__footer {
        padding: 15px;
        text-align: right;
    }

        .modal__footer button {
            outline: none;
            border: none;
            padding: 10px 20px;
            background-color: var(--pink-color);
            color: white;
            border-radius: 6px;
            cursor: pointer;
        }

    i {
        cursor: pointer;
        font-size: 18px;
    }
    showModal {
	from {
		top: -200px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}
</style>

<div class="main">
    <div>
        <a href="/Product/List">
            <img style="text-align: center; height: 100px; width: 200px;"
                 src="https://bucket.nhanh.vn/store/20446/logo_1643340534_THETHAOVIP2-03.png" />
        </a>
        <h1>List of Categories</h1>
        @foreach (var item in categories)
        {
            <div style="background-color: aquamarine; text-align:center">
                <a href="/Product/List/@item.CategoryId" @(ViewBag.id==item.CategoryId?"class=active":"")>@item.CategoryName</a>
            </div>
        }
    </div>
    <div style="margin-top: 2.2%; margin-left: 2%">
        <div>
            Hello @ViewBag.Username <button style=" background-color: green; "><a onclick="logOut()" style="text-decoration: none; color: white" href="#">Log out</a></button>
        </div><br>
        <div style="display: flex">
            <form asp-controller="Product" asp-action="List" method="get">
                Tìm kiếm sản phẩm <input type="text" name="search"/><button>Search</button>
                @*Information of Shop*@
                <button><a href="#" onclick="show()" style="text-decoration: none">Shop's information</a></button>
            </form>
        </div>
        @if (Model.Count > 0)
        {
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Added Date</th>
                        <th>Image</th>
                        <th>Description</th>
                        <th>Source Of Supply</th>
                        <th>Category</th>
                        @*<th>Added By</th>*@
                        <th>
                            <form asp-controller="Product" asp-action="Add" method="get">
                                <input style="background-color: yellow" type="submit" value="Add new product" />
                            </form>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var m in Model)
                    {
                        <tr>
                            <td><a asp-controller="Product" asp-action="Detail" asp-route-id=@m.ProductId>@m.ProductName</a></td>
                            <td>@m.Quantity</td>
                            <td>@m.Price</td>
                            <td>@m.AddedDate.ToString("dd/MM/yyyy")</td>
                            <td>
                                <img style="height: 100px; width: 100px;" src="@m.Image" />
                            </td>
                            <td>@m.Description</td>
                            <td>@m.SourceOfSupply</td>
                            <td>@m.Category.CategoryName</td>
                            @*<td>@m.Account.Username</td>*@
                            <td><button style="background-color: green;"><a style="text-decoration: none; color: white;" asp-controller="Product" asp-action="Update" asp-route-id=@m.ProductId>Update</a></button></td>
                            <td><button style="background-color: red;"><a onclick="deleteSuccess()" style="text-decoration: none; color: white;" asp-controller="Product" asp-action="Delete" asp-route-id=@m.ProductId>Delete</a></button></td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <h1 style="text-align: center; color: red">No product in this Category</h1>
        }
    </div>
</div>
@*<script>
    function confirmDelete(id) {
        var result = confirm("Confirm to delete ?");
        if (result === true) {
            alert("Delete product success!");
            window.location.href = 'asp-route-id='+id;
        }
    }
</script>*@
<script>
    function logOut(){
        var result = confirm("Do you want to log out ?")
        if(result === true){
            window.location.href = '../../Login/Login'
        }
    }

//    function deleteSuccess() {
 //       alert("Delete product success")
 //   }
    
  //  function showInformation() {
 //       alert("Shop quần áo với nhiều loại thời trang thể thao giá rẻ\n
  //          Shop có địa chỉ tại đại học FPT Hà Nội\n
 //          Truy cập ngay shop quần áo thể thao Vip Sport Wear\n
 //           Thông tin liên hệ Zalo số: 0123456789 để được tư vấn đặt hàng")
 //   }

    function show() {
        alert("Shop quần áo với nhiều loại thời trang thể thao giá rẻ. Shop có địa chỉ tại đại học FPT Hà Nội. Truy cập ngay shop quần áo thể thao Vip Sport Wear. Thông tin liên hệ Zalo số: 0123456789 để được tư vấn đặt hàng và tiến hành đặt hàng qua Admin")
    }
</script>