@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@using SportWearManage.Models
@model Product


<style>

</style>
<form asp-controller="Product" asp-action="Update" method="post">
    <input required type="hidden" asp-for="ProductId" />
    Product Name: <input type="text" asp-for=ProductName />
    <br />Quantity: <input required type="number" asp-for=Quantity />
    <br />Price:<input required type="number" asp-for=Price />
    <br />Added Date:<input required type="date" asp-for=AddedDate />
    <br />Description:<input required type="text" asp-for=Description />
        <br />Image:<input required type="text" asp-for=Image />
    @*<div class="file_img">
        <label for="input-img" class="preview">
            <i class="fas fa-cloud-upload-alt"></i>
            <span>Upload to preview image</span>
        </label>
        <input type="file" hidden id="input-img" asp-for=Image />
    </div>*@
    <br />Source Of Supply:<input required type="text" asp-for=SourceOfSupply />
    <br />Category:
    <select asp-for=CategoryId>
        @foreach (Category c in @ViewBag.Categories)
        {
            @if (@c.CategoryId == @Model.CategoryId)
            {
                <option value=@c.CategoryId selected>@c.CategoryName</option>
            }
            else
            {
                <option value=@c.CategoryId>@c.CategoryName</option>
            }
        }
    </select>
    <br /><input type="submit" value="UPDATE" />
    <br /><a style="text-decoration: none" href="../List">
        <input type="button" value="Return to List of products" />
    </a>
</form>

@*<script>
    const inputImg = document.querySelector('#input-img')

    inputImg.addEventListener('change', (e) => {
        let file = e.target.files[0]

        if (!file) return

        let img = document.createElement('img')
        img.src = URL.createObjectURL(file)

        document.querySelector('.preview').appendChild(img)
    })
</script>*@